.content{
  margin-left: 250px;
  padding: 1px 16px;
}

.container{
  display: flex;
  background-color: #cdcaca;
  border-radius: 5px;
  padding: .8em;
  align-items: center;
  margin-bottom: 1em;
}
.label_avatar{
  width: 100px;
  height: 150px;
}

.form_profile input, textarea, select{
  margin-bottom: 1em;
  padding: 0.7em;
  border: 0;
  border-radius: 5px;
  max-width: 600px;
}

.form_profile input:disabled{
  cursor: not-allowed;
}

.form_profile label{
  margin-bottom: .2rem;
}

.form_profile button{
  max-width: 150px;
}

.logout_btn{
  padding: 8px 20px;
  border: 1px solid #000;
  background-color: transparent ;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .content{
    margin: 0;
  }
}
